.ReposPreview{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  border: solid;
  text-decoration: none;
  padding: 0 3rem;
  margin: 2rem;
}
